body{
    background-image: url('../admins/paven.png');
}
#vacunatorios{
    display: none;
}

#formulario1, #formulario2, #formulario3{
    display: none;
}

#nomVac1, #nomVac2, #nomVac3{
    margin-top: 10px;
    margin-bottom: 10px;
}

/*Empieza CSS de stock*/

#vacunatorios2{
    display: none;
}

#gripe1, #fiebre1{
    display: none;
}

#divM, #divP, #divM2, #divP2, #divP3, #divM3{
    display: none;
    margin-top: 60px;
}

#gripe2, #fiebre2, #covid2{
    display: none;
}

#gripe3, #fiebre3, #covid3{
    display: none;
}

#form1, #form2, #form3M, #form3P, #form4,#form5,#form6M, #form6P, #form7,#form8,#form9P, #form9M{
    display: none;
    margin-top: 25px;
    margin-bottom: 25px;
}


#vacA, #vacB, #vacC{
    margin-top: 80px;
    margin-bottom: 100px;
}


#formZona, #formContra{
    display: none;
    margin-top: 20px;
    margin-bottom: 20px;
}
